@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', arial;
  font-size: .85em;
  background-color: #141414;
  color: #ffffff;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

img {
  width: 100%;
  pointer-events: none;
}

svg {
  pointer-events: none;
}

section {
  padding: 5em 3.125em;
  text-align: center;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h2 {
  font-weight: bold;
  letter-spacing: .06em;
  font-size: 1.8em;
  line-height: 110%;
}

h3 {
  font-weight: bold;
  letter-spacing: .06em;
  font-size: 1.3em;
}
 
// --------------------------- SCROLLBAR --------------------------------------

/* width */
::-webkit-scrollbar {
  width: 1.2em;
  height: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #DFC172; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #5d5236;
  border: 5px solid rgba(0, 0, 0, 0);
}

//--------------------------- GENERAL -----------------------------------------

.hide-mobile {
  display: none;
}

.section_title {
  display: flex;
  align-items: center;
  place-content: center;

  &.inverse {
    color: #eaeaea;
  }

  p {
    margin-top: -1em;
    font-size: 0.85em;
  }
}

.section_title::after {
  content: "";
  display: block;
  top: 0;
  width: 41px;
  height: 1px;
  margin-left: 30px;
  background-color: #5d5236;
}

.section_title::before {
  content: "";
  display: block;
  top: 0;
  width: 41px;
  height: 1px;
  margin-right: 30px;
  background-color: #5d5236;
}

//--------------------------------- MAIN --------------------------------

.main {
  background-image: url("/line-background.png");
  background-size: contain;
  background-repeat:  repeat;
  z-index: -2;
  overflow-x: hidden;
}

.home-floater {
  position: fixed;
  bottom: 0;
  right: 0;
  transition: transform 0.2s;
  margin: 1em;
  height: 50px;
  width: 50px;
  background-color: #DFC172;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 10;

  svg {
    padding-top: .4em;
    filter: invert(95%);
    width: 35px;
    height: 35px;
    color: #eaeaea;
  }
}

.home-floater-hidden {
  transform: translateY(100px);
}

/*--------------------------------- NAVBAR ---------------------------------*/

.nav_container {
  width: 100%;
  margin: 0;
  padding: 0;

  header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-size: .85rem;
  
    .logo {
      position: relative; //required
      width: 35px;
      height: 35px;
    }
  
    ul {
      display: flex;
  
      a {
        display: block;
        padding: 0 clamp(.5em, 2vw, 4em);
      }
    }
  }
}

/*--------------------------------- HERO ---------------------------------*/

.stars-container {
  position: relative;
  user-select: none;
  z-index: -5;
}

.stars-top {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
}

.stars-bottom {
  position: absolute;
  width: 1920px;
  height: 1080px;
  bottom: 0;
}

.front-page {
  height: 100vh;
}

.hero_container {
  height: 100%;
}

.hero_design__container {
  display: none;
}

.hero_title {
  font-size: 6.5em;
  font-weight: 700;
  line-height: 0.8em;
  letter-spacing: -.05em;
  color: #DFC172;
  margin-top: 0;
  margin-bottom: 0;
}

.hero_subtitle {
  font-size: 2.25em;
  font-weight: 200;
  line-height: 1em;
  height: 61px;
  letter-spacing: -.05em;
  color: #FFFFFF;
}

.more {
  margin: 4em auto;
  letter-spacing: -.05em;
  text-align: center;

 .more-scroll-wrapper {
   height: 95px;
   width: 30px;
   margin: auto;
 }
  
  svg {
    width: 30px;
  }
}

/*--------------------------------- ABOUT ME ---------------------------------*/

.about {
  padding-top: 0em;
}

.about_container {
  padding-top: 2em;
  span {
    display: flex;
    margin-top: 2em;
  }
}

.about_img {
  margin-bottom: 3em;
  
  .profile_img {
    border-radius: 5px;
    user-select: none;
  }
}

.about_info {
  text-align: justify;
  font-weight: 500;
}

.btn_cv_wrapper {
  margin: 4em 0 7em 0;
  text-align: center;
  a {
    border: 1px solid #DFC172;
    border-radius: 3px;
    padding: 1em 3.175em;
    color: #DFC172;
  }
}


//------ education and work experience --------- //

.subsubsection_title {
  display: flex;
  align-items: center;

  &.one {
    margin: 10px 0px 40px;
  }

  &.two {
    margin: 10px 0px 30px;
  }
}

.subsubsection_title::after {
  content: "";
  display: block;
  top: 0;
  width: 100px;
  height: 1px;
  margin-left: 20px;
  background-color: #5d5236;
}

.info_container {
  //padding: 0em 2em;
  text-align: left;

  &.two{
    margin-top: 6em;
  }

  .content {
    margin-left: 2em;
    margin-top: 2em;

    &.jobs {

      h4 {
        margin-bottom: 0;
      }

      .company {
        color: #DFC172;
      }

      a {
        color: #DFC172;
      }

      a:hover {
        text-decoration: underline;
      }

      p {
        margin-top: 0;
      }

      li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
      }

      li::before {
        content: "▹";
        position: absolute;
        left: 0px;
        color: #DFC172;
      }
    }

    .ident1, .ident2 {
      margin: 0;
    }

    .ident1 {
      padding-left: 1em;
    }

    .ident2 {
      padding-left: 2em;
      font-size: 0.9em;
    }
  }
}

.tab-jobs {
  display: flex;
  overflow-x: auto;
  padding: 0em 1em;

  .work-button {
    display: flex;
    width: calc(100% + 100px);
    min-height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .work-button:hover {
    background-color: #202020;
  }
}

.work-button-active {
  border-bottom: 1px solid #DFC172;
  background-color: #202020;
}

/*--------------------------------- SKILLS ---------------------------------*/

.skills-container {
  margin-top: 3em;
}

.skill-container { 
  padding: 2em 2em;

  .skill-icon-container {
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }

  ul:first-of-type {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(65px,65px));
    justify-content: center;
    max-width: 266px;
    margin: auto;
  }

  li:hover {
    background-color: #ffffff10;
  }
}

.skill-tools {
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;

  .tool-icon {
    align-items: center;
    align-content: center;
    text-align: center;

    svg {
      font-size: 2em;
    }

    p {
      font-size: .7em;
      max-width: 50px;
      margin-bottom: 0;
    }
  }
}

/*--------------------------------- PORTFOLIO ---------------------------------*/

.small-version {
  display: unset;
}

.big-version {
  display: none;
}


.projects_container{
  margin-top: 1.75em;
}

.project_container {
  padding-top: 2em;

  .proj-img {
    margin-bottom: 2em;
    border-radius: 3px;
    resize: auto;
    flex: 1
  }
}

.project-inner{
  text-align: left;

  .project_title {
    font-weight: 600;
    font-size: 1.7em;
    margin: .3em 0em;
  }
  
  .project_desc {
    margin: .3em 0em;
  }

  ul{
    display: flex;
  }
}


/*--------------------------------- ARCHIVE ---------------------------------*/

// -------- swiper style---------
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: rgb(70, 70, 70);

  &.swiper-pagination-bullet-active {
    background: #DFC172;
  }
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 2em;
  height: auto;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.swiper-button-next {
  right: -2px;
  left: auto;
}

.swiper-button-prev {
  left: -2px;
  right: auto;
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: 'next';
}

.swiper-button-prev:after { 
  transform: scale(-1, 1);
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 2em;
  line-height: 1;
}

//------------ projects inside card ------------------- 

.project_card_inner {
  margin: 3.75em auto;
  background-color: #DFC172;
  border-radius: 5px;
  padding: clamp(0.5em, 5vw, 1.875em);
  text-align: left;
  max-width: 430px;

  header {
    display: flex;
    justify-content: space-between;
    font-size: .85rem;

    svg {
      font-size: 3rem;
      stroke-width: 1px;
    }
  
    ul {
      display: flex;

      svg {
        font-size: 1.4rem;
        stroke-width: 2px;
      }

      a {
        display: block;
        padding: 0 .5em 0 0;
      }
    }
  }

  p {
    margin: 0em;
  }

  footer ul {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(65px,65px));

    li {
      display: block;
      padding: 0 .5em 0 0;
    }
  }

  .project_title {
    font-weight: 600;
    font-size: 1.7em;
  }
  
  .project_desc {
    font-size: 1.0625em;
  }
}

/*--------------------------------- CONTACT ---------------------------------*/

.contact {
  padding-bottom: .8em;

  .contancts-title {
    font-weight: 600;
    font-size: clamp(40px, 5vw, 60px);
    letter-spacing: unset;
  }
}

.hello_wrapper {
  margin-top: 10em;
  margin-bottom: 8.125em;

  .hello-button-container {
    margin: 2em 0em;
  }

  a {
    border: 1px solid #DFC172;
    border-radius: 3px;
    padding: 1em 3.175em;
    color: #DFC172;
    overflow: hidden
  }

  span {
    padding-top: 1.5em;
    font-size: 0.85em;
    cursor: pointer;
  }

  span:hover {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1); // not nothing anything
  }
}

.social_contacts {
  padding: 2em 0;
  display: flex;
  justify-content: center;

  li {
    display: inline-block;
    margin: 0;
    padding: 0 clamp(0.7em, 3vw, 1.7em);
  }

  .icon_wrapper {
    display: grid;
    place-content: center;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background: #ffffff;

    svg {
      font-size: 1.4rem; // size of svg
    }
  }

  a {
    color: #000000;
    font-size: 1.4rem;
    display: grid;
    margin: -1em;
    justify-content: center;
    align-items: center;
  }
}

/*--------------------------------- FOOTER ---------------------------------*/

.page_footer {
  display: block;
  text-align: center;
  position: static;
  bottom: 0;

  p {
    font-size: .8em;
    color: #8f8f8f;
  }
}

@media only screen and (min-width: 540px) {
  
  .project_card_inner {
    height: 323px;
  }
}

/*--------------------------------- 800PX ---------------------------------*/

@media only screen and (min-width: 800px) {
  
  .show-mobile {
    display: none;
  }

  .hide-mobile {
    display: unset;
  }

  .nav_container {
    header {
      font-size: 1rem;

      .logo {
        width: 50px;
        height: 50px;
      }
    }
  }

  .hero_title {
    font-size: 10em;
    word-wrap: unset;
  }

  .hero_subtitle {
    font-size: 3em;
  }

  .about {
    padding-top: 10em;
  }

  .about_container {
    display: grid;
    grid-template-columns: 45% auto;
  }

  .about_info {
    padding-left: 2em;
  }

  .extra_info {
    margin: 4em auto 0em auto;
    max-width: 700px;
  }

  .info_container {

    &.one {
      .content {
        margin: 0em 4em;
      }
    }

    &.two {
      .info_inner {
        display: flex;
        height: 200px;
    
        .content{
          margin-top: 0em;
          margin-left: 2em;
    
          h4 {
            margin-top: 0em;
          }
        }

        .tab-jobs{
          display: unset;
          overflow-x: unset;
          border-left: 1px solid #5d5236;
          padding: 0em;
          max-width: 160px;
    
          .work-button {
            display: unset;
            width: 100%;
            padding: 0em 20px;
          }
        }

        .work-button-active {
          border-left: 1px solid #DFC172;
          border-bottom: unset;
        }
      }
    }
  }

  .skills-container{
    margin-top: 6em;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 260px);
      justify-content: center;

      .skill-title {
        margin: 2em;
        height: 40px;
      }
    }
  }
}

@media only screen and (min-width: 900px) {

  .small-version {
    display: none;
  }

  .big-version {
    display: unset;
  }

  .project_container {
    display: grid;
    grid-template-columns: 40% auto;

    &.inverse {
      grid-template-columns: auto 40%;
    }
  }

  .project-info {
    display: grid;
    place-content: center;
  }

  .project-inner {
    max-width: 420px;
    margin-left: auto;

    .project_desc {
      padding-right: 1em;
    }
    
    &.inverse {
      margin-right: 0;
      text-align: right;
      margin-right: auto;
      margin-left: unset;

      .project_desc {
        padding-right: 0;
        padding-left: 1em;
      }

      ul{
        float: right;

        li{
          padding: 0.7em 0 0 0.5em;
        }
      }      
    }
  }
}

/*--------------------------------- 1050PX ---------------------------------*/

@media only screen and (min-width: 1050px) {
  
  .nav_container {
    height: 10vh;

    header {
      padding: 2em 4em 2em 5.3em;
    }
  }

  .hero {
    height: 90vh;
  }

  section {
    padding: 5em;
  }

  .hero_container {
    display: grid;
    grid-template-columns: 60% auto;
    padding: 0;

    .content {
      padding: 1em 8em 6em 1em;
      text-align: left;

      .hero_subtitle{
        padding-left: 0.16em;
      }

      .more {
        margin: 6.0625em 0em;
        text-align: left;

        .more-scroll-wrapper{
          margin: 0;
        }

        a { 
          margin-left: 1.5em;
        }
      }
    }
  }

  .hero_design__container {
    display: unset;
    margin-left: -5%;
    width: 100%;
    max-width: 502px;
    user-select: none;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
    user-select: none;

    &.inverse {
      float: left;
    }
  }
}


/*--------------------------------- 1250PX ---------------------------------*/

@media only screen and (min-width: 1250px) {

  .home-floater {
    height: 65px;
    width: 65px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .nav_container header {
    padding: 2em 11em 2em 9.5em;

    .logo {
      width: 60px;
      height: 60px;
    }
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .more {
    padding-left: .6em;
  }

  a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1330px) {
  .skills-container .skills-list {
    grid-template-columns: repeat(4, 260px);
    grid-gap: 2vw;
  }
}

/*--------------------------------- 1550PX ---------------------------------*/

@media only screen and (min-width: 1550px) {
  
  .nav_container header {
    padding: 2em 11em 2em 10.5em;
    ul {
      a {
        padding: 0 2em;
      }
    }
  }

  .main {
    font-size: 1.1em;

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.4em
    }
  }

  .project_card_inner {
    height: 364px;
  }
}

/*--------------------------------- 1920PX ---------------------------------*/

@media only screen and (min-width: 1920px) {

  .main {
    display: grid;
    place-content: center;
  }

  .hero {
    height: unset;
  }

  section {
    max-width: 1920px;
  }
}


/*--------------------------------- 404 ---------------------------------*/

.not-found {
  overflow: hidden;

  .background-container {
    position: relative;
  }
  
  .background-img {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    z-index: -10;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-size: .85rem;
  
    .logo {
      position: relative; //required
      width: 35px;
      height: 35px;
    }
  }

  .title {
    font-size: 6.5em;
    font-weight: 700;
    line-height: 0.8em;
    letter-spacing: -.05em;
    color: #DFC172;
    margin-top: 0;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 2.25em;
    font-weight: 200;
    line-height: 1em;
    letter-spacing: -.05em;
    color: #FFFFFF;
  }

  .button-home {
    margin: 4em 0 7em 0;
    text-align: center;
    a {
      border: 1px solid #DFC172;
      border-radius: 3px;
      padding: 1em 3.175em;
      color: #DFC172;
    }
  }

  .design-container {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .not-found {
    
    header {
      font-size: 1rem;

      .logo {
        width: 50px;
        height: 50px;
      }
    }

    .title {
      font-size: 10em;
    }

    .subtitle {
      font-size: 3em;
    }
  }
}

@media only screen and (min-width: 1050px) {

  .not-found header {
    padding: 2em 4em 2em 5.3em;
  }

  .not-found-container {
    display: grid;
    grid-template-columns: 60% auto;
    padding: 0;

    .content {
      padding: 1em 8em 6em 1em;
      text-align: left;

      .button-home {
        text-align: left;
        margin-top: 9em;
      }
    }

    .design-container {
      display: unset;
      margin-left: -5%;
      margin-top: -5em;
      width: 100%;
      max-width: 502px;
    }
  }
}

@media only screen and (min-width: 1250px) {

  .not-found header {
    padding: 2em 11em 2em 9.5em;

    .logo {
      width: 60px;
      height: 60px;
    }
  }
}

@media only screen and (min-width: 1550px) {
  
  .not-found{
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1921px) {
  
  .not-found {
    display: grid;
    place-content: center;

    .background-img {
      left: -15%;
    }
  }
}
